openapi: 3.0.0
info:
  title: ServiceDesk Plus On Premise
  description: >-
    ## 👋 Introduction


    Welcome to the **ManageEngine ServiceDesk Plus On-Premise** developers'
    workspace. This collection will help you get started with **ServiceDesk Plus
    APIs** using Postman.


    ## 🚀 Getting started with this workspace


    1. **Fork** our **ServiceDesk Plus On Premise REST APIs collection** and
    check the **Watch original collection** box to stay informed about updates.
        
    2. Follow the steps in our help
    [documentation](https://help.servicedeskplus.com/api/rest-api.html$key) to
    get **API Key**.
        
    3. Use the generated API keys to make API calls.
        

    Thank you for choosing **ManageEngine ServiceDesk Plus On-Premise**! We’re
    excited to support your development journey. **Happy coding!** 🚀

    ## 🛟 Help and support


    If you have any questions or suggestions, please don't hesitate to reach out
    to
    [support@servicedeskplus.com](https://mailto:support@servicedeskplus.com).
  version: 1.0.0
servers:
  - url: https://integrations.servicedeskplus.com/
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: authtoken
security:
  - ApiKeyAuth: []
tags:
  - name: Request
    description: Operations related to Request module
  - name: Request > Request
    description: >-
      End user can raise a request when he find disruption of existing service
      offered to him or he can raise a request for a new service.
  - name: Request > Request_Attachment
    description: Configuration entity used to manage attachments present in a request
  - name: Request > Link_Requests
    description: Link can be made between the similar requests
  - name: Request > Request_Notes
    description: >-
      Used to provide the comments about the latest state of the incident
      /service request  by technician. It can be private / shared to the
      requester also.
  - name: Request > Request_Notes_Attachment
    description: Configuration entity used to manage attachments present in a request note.
  - name: Request > Request_Drafts
  - name: Request > Request_Notifications
    description: Used to reply/forward a ticket to technician or requester
  - name: Request > Request_Notification_Attachment
    description: >-
      Configuration entity used to manage attachments present in a request
      notification.
  - name: Request > Request_Templates
  - name: Request > Archive_Request
    description: Archived requests refers to collection of old requests.
  - name: Request > Archived_Request_Notifications
    description: Used to view the notifications of the Archived Request
  - name: Request > Project_Request_Association
    description: Configuration entity used to manage request association in a project.
  - name: Request > Request_Type
    description: >-
      You can configure the type of requests other than the default options such
      as incident, service request and so on using this option.
  - name: Request > Request_Closure_Code
    description: >-
      Request Closure Code denotes the reason behind closing a request, whether
      the request was closed successfully, unsuccessfully, cancelled and so on.
      Using the request closure code, the administrator is able to comprehend
      the purpose of closing the request by the technician. In addition,
      comments can be provided to give a detailed explanation for closing the
      requests. The configured request closure code list appears while closing
      the request, and the data entered is viewed in the request details page.
  - name: Request > Tag
    description: >-
      When want to mark similar info over multiple requests tag will be
      helpfull. User can add their own tags for any request. When search is
      invoked involving tag name, then the expected results will come into the
      search list. Apart from search, should support listing requests based on
      tags.
  - name: Request > Resolution_Template
    description: >-
      Resolution template helps to customize templates for resolution field
      according to request type and category
  - name: Request > Request_Task_Comments
    description: Comments that enable members/administrators to share their views on tasks.
  - name: Request > Request_Task
    description: A piece of work done by a member of a team.
  - name: Request > Request_Worklog
    description: >-
      Helps you track and capture the work done by a team member. The same can
      be associated with Requests, Problems, Tasks, and Changes.
  - name: Request > Request_Task_Worklog
    description: >-
      Helps you track and capture the work done by a team member. The same can
      be associated with Requests, Problems, Tasks, and Changes.
  - name: Problem
    description: Operations related to Problem module
  - name: Problem > Problem-API
    description: To find the problem of any incident.
  - name: Problem > Problem_Notes
    description: >-
      Used to provide the comments about the latest state of the Problem by
      technician.
  - name: Problem > Problem_Associations
    description: >-
      Used to associate/disassociate one/many request(s)/change with the Problem
      by technician.
  - name: Problem > Problem_Templates
    description: >-
      Problem Templates can be configured here using API calls. CRUD operation
      is supported
  - name: Problem > Problem_Task_Comments
    description: Comments that enable members/administrators to share their views on tasks.
  - name: Problem > Problem_Task
    description: A piece of work done by a member of a team.
  - name: Problem > Problem_Worklog
    description: >-
      Helps you track and capture the work done by a team member. The same can
      be associated with Requests, Problems, Tasks, and Changes.
  - name: Problem > Problem_Task_Worklog
    description: >-
      Helps you track and capture the work done by a team member. The same can
      be associated with Requests, Problems, Tasks, and Changes.
  - name: Change
    description: Operations related to Change module
  - name: Change > Change
    description: >-
      Changes arise as a result of problems. But, a lot of changes can come from
      pro-actively seeking business benefits such as reducing costs or improving
      services.
  - name: Change > Change_Approval_Level
    description: Configuration entity used to manage approval levels present in a change.
  - name: Change > Change_Approval
    description: Configuration entity used to manage approvals present in a change.
  - name: Change > Change_Type
    description: Configuration entity used to describes the type of the Change Request.
  - name: Change > Reason_For_Change
    description: Configuration entity used to denotes the reason for the Change Request.
  - name: Change > Change_Status
  - name: Change > Change_Stage
    description: Configuration entity used to describes the Stage of the Change Request.
  - name: Change > Change_Role
    description: Configuration entity used to describes the role of the Change Request.
  - name: Change > Risk
    description: Configuration entity used to describes the risk of the Change Request.
  - name: Change > Closure_Code
    description: >-
      Configuration entity used to describes the closure code for the Change
      Request.
  - name: Change > CAB
    description: Configuration entity to form the Change Advisory Board.
  - name: Change > Change_Closure_Rule
  - name: Change > Change_to_Change_Role
  - name: Change > Change_Downtime
  - name: Change > Change_Status_Comment
  - name: Change > Change_Descriptive_Field
  - name: Change > Change_Associations
    description: Associate/dissociate requests, problems or projects with change.
  - name: Change > Change_Note
  - name: Change > Change_Attachment_Field
  - name: Change > Change_Notification
  - name: Change > Change_Template
  - name: Change > Change_Template_Role
  - name: Change > Change_Attachment
    description: Configuration entity used to manage attachments present in a change.
  - name: Change > Project_Change_Association
    description: Configuration entity used to manage change association in a project.
  - name: Change > Release_Change_Association
    description: Configuration entity used to manage change with a release.
  - name: Change > Change_Task_Comments
    description: Comments that enable members/administrators to share their views on tasks.
  - name: Change > Change_Task
    description: A piece of work done by a member of a team.
  - name: Change > Change_Worklog
    description: >-
      Helps you track and capture the work done by a team member. The same can
      be associated with Requests, Problems, Tasks, and Changes.
  - name: Change > Change_Task_Worklog
    description: >-
      Helps you track and capture the work done by a team member. The same can
      be associated with Requests, Problems, Tasks, and Changes.
  - name: Project
    description: Operations related to Project module
  - name: Project > Project
    description: >-
      A temporary endeavor to achieve certain objective/change (within a
      specific time period) beneficial to the organization.Primary goal of the
      project management lies in effective management of resources like time,
      budget, manpower and the quality of work.
  - name: Project > Milestone
    description: >-
      Milestones help you plan the project, decide its various stages, and also
      serve as landmarks that identify how close a project is on the verge of
      completion.
  - name: Project > Project_Members
    description: >-
      Project members are generally assigned with a part of the project. It can
      be a milestone, a task or the entire project itself. Based on the assigned
      role, the member will be provided with a set of access permissions.
  - name: Project > Project_Attachment
    description: Configuration entity used to manage attachments present in a project.
  - name: Project > Release_Project_Association
    description: Configuration entity used to manage project with a release.
  - name: Project > Project_Comments
    description: >-
      Comments that enable members/administrators to share their views on
      projects.
  - name: Project > Milestone_Comments
    description: >-
      Comments that enable members/administrators to share their views on
      milestones.
  - name: Project > Project_Task_Comments
    description: Comments that enable members/administrators to share their views on tasks.
  - name: Project > Milestone_Task_Comments
    description: Comments that enable members/administrators to share their views on tasks.
  - name: Project > Project_Task
    description: A piece of work done by a member of a team.
  - name: Project > Milestone_Task
    description: A piece of work done by a member of a team.
  - name: Project > Project_Task_Worklog
    description: >-
      Helps you track and capture the work done by a team member. The same can
      be associated with Requests, Problems, Tasks, and Changes.
  - name: Project > Milestone_Task_Worklog
    description: >-
      Helps you track and capture the work done by a team member. The same can
      be associated with Requests, Problems, Tasks, and Changes.
  - name: Release
    description: Operations related to Release module
  - name: Release > Change_Release_Association
  - name: Release > Project_Release_Association
    description: Configuration entity used to manage release association in a project.
  - name: Release > Release
    description: >-
      Release management helps in scheduling, planning, controlling, testing,
      and deploying an agreed and accepted change or project process for an
      organization.
  - name: Release > Release_To_Release_Role
    description: Configuration entity used to manage release roles present in a release.
  - name: Release > Release_Stage_Data
    description: Configuration entity used to manage stage data present in a release.
  - name: Release > Release_Descriptive_field
    description: >-
      Configuration entity used to manage descriptive fields present in a
      release.
  - name: Release > Release_Attachment_field
    description: >-
      Configuration entity used to manage attachment fields present in a
      release.
  - name: Release > Release_Downtime
    description: Configuration entity used to manage downtimes present in a release.
  - name: Release > Release_Approval_Level
    description: Configuration entity used to manage approval levels present in a release.
  - name: Release > Release_Approval
    description: Configuration entity used to manage approvals present in a release.
  - name: Release > Release_Note
    description: Configuration entity used to manage notes present in a release.
  - name: Release > Release_Attachment
    description: Configuration entity used to manage attachments present in a release.
  - name: Release > Release_Notification
    description: Configuration entity used to manage notifications present in a release.
  - name: Release > Release_Conversation
    description: Configuration entity used to manage conversations present in a release.
  - name: Release > Release_Stage
    description: Configuration entity used to manage release stages.
  - name: Release > Release_Statuses
    description: Configuration entity used to manage release statuses of a release stage.
  - name: Release > Release_Role
    description: Configuration entity used to manage release roles.
  - name: Release > Downtime_Types
    description: Configuration entity used to manage downtime types.
  - name: Release > Release_Closure_Code
    description: Configuration entity used to manage release closure code.
  - name: Release > Release_Task
    description: Configuration entity used to manage tasks present in a release.
  - name: Release > Release_Worklog
    description: >-
      Helps you track and capture the work done by a team member. The same can
      be associated with Requests, Problems, Tasks, and Changes.
  - name: Release > Release_Task_Worklog
    description: >-
      Helps you track and capture the work done by a team member. The same can
      be associated with Requests, Problems, Tasks, and Changes.
  - name: Solutions
    description: Operations related to Solutions module
  - name: Solutions > Solutions
    description: >-
      You can record the solutions of the received requests. The recorded
      solutions act as a knowledge base, from where you can fetch answers for
      repeated requests. This reduces the turnaround time taken for attending
      and closing the requests by Requesters.
  - name: Solutions > Topic
    description: >-
      Topics are used in Solutions to differentiate between various types of
      solutions.
  - name: Solutions > Solution_Comments
    description: >-
      Comments that enable members/administrators to share their views on
      solutions.
  - name: Asset
    description: Operations related to Asset module
  - name: Asset > Asset_State
    description: asset state.
  - name: Asset > Product_Type
    description: Each product purchased can be categorized into a specific product type.
  - name: Asset > Product
    description: Products refer to the commodities purchased by the organization.
  - name: Asset > Vendor
    description: Vendors associated.
  - name: Asset > Product_Vendor_Association
    description: Vendors associated.
  - name: Asset > Asset
    description: Asset Operations
  - name: Asset > Workstation
    description: Workstation Operations
  - name: Asset > Asset_Booking
    description: This API can be used for asset booking
  - name: Asset > Asset_Replenishment
    description: This API can be used for Asset_Replenishment
  - name: Purchase
    description: Operations related to Purchase module
  - name: Purchase > GL_Code
    description: >-
      A General Ledger Code (GL Code) is a string of alphanumeric characters
      assigned to each financial entry in an organization's ledger.
  - name: Purchase > Cost_Center
    description: >-
      A part of an organization to which costs may be charged for accounting
      purposes.
  - name: Purchase > Currency
    description: Stores the currency details of various countries for transaction.
  - name: Purchase > Vendor_Service
    description: >-
      Service is an intangible item, which arises from the output of one or more
      individuals.
  - name: Purchase > Vendor_Service_Type
    description: >-
      Each service purchased are categorized into a specific
      vendor_service_type.
  - name: Purchase > Vendor_Service_Association
    description: Vendor and vendorservice association.
  - name: Purchase > Purchase_Default_Value
    description: Stores the default configuration of a purchase order.
  - name: Purchase > PO_Closure_Field
    description: To mark the mandatory field for clsoing purchase order
  - name: Purchase > Purchase_Order
    description: >-
      The purchase order details the products or services a business wishes to
      receive from a particular vendor
  - name: Purchase > PO_Approval_Level
    description: Multi-level approval configuration for a PO
  - name: Purchase > PO_Invoice
    description: >-
      An invoice is issued by the seller (or vendor) that requests payment for
      products or services.
  - name: Purchase > PO_Payment
    description: Records all the transaction details of the purchase order payment.
  - name: Contract
    description: Operations related to Contract module
  - name: Contract > Contract
    description: >-
      User keeps the contracted resource details and check on the expiry date
      and alerts for renewal of the contract.
  - name: Contract > Contract_Type
    description: Each contract created can be categorized into a specific contract type.
  - name: Reports
    description: Operations related to Reports module
  - name: Reports > Query_Reports
    description: This API can be used to access Query reports
  - name: Space
    description: Operations related to Space module
  - name: Space > Campus
    description: >-
      This can be used to add, update, view, and delete campus in the facilities
      instance.
  - name: Space > Structure
    description: >-
      This can be used to add, update, view, and delete structures in the
      facilities instance.<br>You can add both building and non-building.
  - name: Space > Floor
    description: >-
      This can be used to add, update, view, and delete floor in the facilities
      instance.
  - name: Space > Room_And_Spaces
    description: >-
      This can be used to add, update, view, and delete room & spaces in the
      facilities instance.
  - name: Space > Facility_Services
    description: >-
      This can be used to add, update, view, and delete facility services in the
      facilities instance.
  - name: Space > Amenities
    description: >-
      This can be used to add, update, view, and delete amenity in the
      facilities instance.
  - name: Space > Criticality
    description: >-
      This can be used to add, update, view, and delete criticality in the
      facilities instance.
  - name: Space > Room_Layout
    description: >-
      This can be used to add, update, view, and delete room layout in the
      facilities instance.
  - name: Space > Space_Status
    description: >-
      This can be used to add, update, view, and delete space status in the
      facilities instance.
  - name: Space > Space_Area_Units
    description: >-
      This can be used to add, update, view, and delete space area units in the
      facilities instance.
  - name: Space > Space_Template
    description: This can be used to view space template in the facilities instance.
  - name: Space > Space_Additional_Fields
    description: >-
      This can be used to add, update, view, and delete space additional fields
      in the facilities instance.
  - name: Space > Facility_Services_Template
    description: >-
      This can be used to view facility services template in the facilities
      instance.
  - name: Space > Facility_Services_Additional_Fields
    description: >-
      This can be used to add, update, view, and delete facility services
      additional fields in the facilities instance.
  - name: Common
    description: Operations related to Common module
  - name: Common > Orguser
    description: >-
      <b>Note</b> : Orguser API represents all users in the organization and is
      applicable only in the ESM directory. Users with Org admin privilege can
      access this API from the ESM directory after creating more than one
      instance.
  - name: Common > User
    description: You can view the details of User here.
  - name: Common > Technician
  - name: Common > Region
    description: Regions are list of places where branches of the organization are set up.
  - name: Common > Site
    description: >-
      Regional offices of the organization across the globe can be configured as
      Sites. 

      By configuring Sites, you can restrict technicians from viewing requests,
      problems, changes and assets of certain sites, organize your IT operations
      across sites and enable prompt handling of requests raised from different
      sites.
  - name: Common > Support_Group
    description: >-
      Support Groups denote the classification of your Helpdesk team. The
      incoming requests are categorized and distributed among the groups, based
      on the Technician's level of expertise.
  - name: Common > Category
    description: >-
      We can classify different types of requests into different categories.

      By using different categories you can configure the application to
      automatically route cases to the appropriate technician.
  - name: Common > Subcategory
    description: Subcategory can be used to granularly categorise the type of the incident.
  - name: Common > Status
    description: >-
      Request status is an option used to indicate the level of progress of a
      request, based on which any action can be taken to resolve the request and
      close the same. Grouping requests under various status helps in proper
      organization of requests and hence reduces the chaos.
  - name: Common > Level
    description: >-
      Request level is a measure used to indicate the complexity of a request.
      This helps in the proper assignment of requests to the corresponding
      technicians who are experienced enough to handle the requests.
  - name: Common > Mode
    description: >-
      There are more than one way in which a service request can be submitted to
      your support team and it will be tracked in the application. The modes by
      which you can submit your service request are:

      1. Submitting the query using a web-based new request form. 

      2. Placing your request through a phone call to a service desk agent, who
      will in turn file your request.

      3. Sending an e-mail to the support team, which will automatically get
      logged as a service request in the application.
  - name: Common > Impact
    description: >-
      Impact is a measure of the business criticality of an Incident or a
      Problem. Impact is often measured by the number of people or systems
      affected.
  - name: Common > Urgency
    description: >-
      Urgency is about the necessary speed of solving an incident of a certain
      impact.
  - name: Common > Priority
    description: >-
      Priority associated to the request defines the importance that is to be
      given to the request.
  - name: Common > Item
    description: >-
      In the grouping of entities, item forms the 3rd level of hierarchy after
      category and sub-category. The item groups the entities within a
      sub-category.
  - name: Common > Priority_matrix
    description: >-
      Priority Matrix helps to configure default priority value based on impact
      and urgency values
  - name: Common > Approvals
    description: >-
      A Request, Change, Purchase Request and Purchase Order can be submitted
      for Approvals.  Actions can be taken on the Approvals by the approvers set
      at each level.
  - name: Common > Reminder
    description: Common Reminder for an user
  - name: Common > General_Task_Comments
    description: Comments that enable members/administrators to share their views on tasks.
  - name: Common > General_Task
    description: A piece of work done by a member of a team.
  - name: Common > General_Task_Worklog
    description: >-
      Helps you track and capture the work done by a team member. The same can
      be associated with Requests, Problems, Tasks, and Changes.
  - name: Common > Device_Registration
    description: >-
      To enable Push Notifications for a device, it has to be registered with
      the device_id provided by the Push Notification provider server (Apple
      server for iOS and GCM server for android devices)
  - name: Common > Announcements
    description: This API can be used to do CRUD operations on Announcements
paths:
  /api/v3/requests:
    post:
      tags:
        - Request > Request
      summary: Add Request
      description: >-
        This operation helps you to add new requests. Include accept header
        <b>application/v3.0+json</b> in V3 API supported URLs.
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                input_data:
                  type: string
                  example: >-
                    {"request":{"subject":"Unable to fetch
                    mails","description":"I am unable to fetch mails from the
                    mail server","requester": {"id": "4","name":
                    "administrator"},"impact_details":"Routine tasks are pending
                    due to mail server problem","resolution":{"content":"Mail
                    Fetching Server problem has been
                    fixed"},"status":{"name":"Open"}}}
      parameters:
        - name: PORTALID
          in: header
          schema:
            type: string
          example: '{{portal_id}}'
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/x-www-form-urlencoded
        - name: Accept
          in: header
          schema:
            type: string
          example: application/vnd.manageengine.sdp.v3+json
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                request:
                  is_first_response_overdue: false
                  impact_details: null
                  impact:
                    id: '1'
                    name: High
                  urgency:
                    id: '2'
                    name: High
                  level:
                    id: '4'
                    name: Tier 4
                  description: I am unable to fetch mails from the mail server
                  priority:
                    id: '4'
                    color: '#ff0000'
                    name: High
                  sla: null
                  template:
                    id: '36'
                    name: Request to start the process associated to a new hire
                  created_by:
                    id: '4'
                    name: administrator
                    email_id: null
                  requester:
                    id: '4'
                    name: administrator
                    email_id: null
                  first_response_due_by_time: null
                  service_category:
                    id: '8'
                    name: User Management
                  is_reopened: false
                  status:
                    id: '3'
                    color: '#006600'
                    name: Closed
                  approval_status: null
                  email_cc: []
                  due_by_time: null
                  closure_info:
                    closure_code:
                      id: '3'
                      name: Canceled
                    requester_ack_comments: null
                    closure_comments: null
                    requester_ack_resolution: true
                  is_trashed: false
                  request_template_task_ids: []
                  assets: []
                  category:
                    id: '11'
                    name: Operating System
                  editor:
                    id: '5'
                    name: Shawn Adams
                    email_id: null
                  time_elapsed:
                    display_value: 0hrs 0min
                    value: '2086'
                  on_behalf_of: null
                  is_service_request: true
                  assigned_time:
                    display_value: Mar 10, 2017 11:37 AM
                    value: '1489126045447'
                  technician:
                    id: '6'
                    name: Heather Graham
                    email_id: user2@zylker.com
                  request_type:
                    id: '2'
                    name: Request For Information
                  subject: Unable to fetch mails
                  department: null
                  udf_fields:
                    udf_multiselect_34:
                      - name: Note
                        id: '217'
                      - name: Pen
                        id: '219'
                    udf_date_601:
                      display_value: Mar 9, 2017 04:36 PM
                      value: '1489057560000'
                    udf_pick_20:
                      name: Admin
                      id: '95'
                    udf_mline_314: USA
                    udf_pick_44:
                      name: Heather Graham
                      id: '386'
                    udf_long_367: '123654789'
                    udf_sline_25: 5 th floor
                    udf_sline_26: 6th floor
                    udf_decimal_42: '124.00'
                  resolution: null
                  mode:
                    id: '2'
                    name: Web Form
                  id: '120'
                  resolved_time:
                    display_value: Mar 10, 2017 11:37 AM
                    value: '1489126047225'
                  responded_time: null
                  attachments: []
                  completed_time:
                    display_value: Mar 10, 2017 11:37 AM
                    value: '1489126047225'
                  site: null
                  email_ids_to_notify:
                    - user2@zylker.com
                  is_fcr: false
                  is_overdue: false
                  email_to: []
                  last_updated_time: null
                  subcategory:
                    id: '24'
                    name: Mac OS X
                  item: null
                  created_time:
                    display_value: Mar 10, 2017 11:37 AM
                    value: '1489126045139'
                  group:
                    id: '1'
                    name: Hardware Problems
                response_status:
                  status_code: 2000
                  status: success
    get:
      tags:
        - Request > Request
      summary: View all Requests
      description: This operation lets you to view the details of all the requests.
      parameters:
        - name: PORTALID
          in: header
          schema:
            type: string
          example: '{{portal_id}}'
        - name: input_data
          in: query
          schema:
            type: string
          example: >-
            {"list_info":{"row_count":20,"start_index":1,"sort_field":"subject","sort_order":"asc","get_total_count":true,"search_criteria":
            [{"field": "subject","value": "New hire","condition":
            "contains"},{"field": "priority.name","value": "high","condition":
            "eq","logical_operator":
            "and"}],"filter_by":{"name":"All_Requests"}}}
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                requests:
                  - id: 1
                    subject: laptopfornewhire
                    short_description: NeednewLapTop
                    created_time:
                      value: 1482151699905
                      display_value: Dec19,201612:48PM
                    created_by:
                      id: 3
                      email_id: admin@zylker.com
                      name: administrator
                    due_by_time:
                      value: 1482208200805
                      display_value: Dec20,201610:49AM
                    is_service_request: false
                    technician:
                      id: 9
                      name: JenifferDoe
                    requester:
                      is_vipuser: false
                      id: 4
                      name: Guest
                    is_overdue: false
                  - id: 2
                    subject: newhire
                    short_description: Needlaptopdock
                    created_time:
                      value: 1482151699905
                      display_value: Dec19,201612:48PM
                    created_by:
                      id: 3
                      email_id: admin1@zylker.com
                      name: administrator
                    due_by_time:
                      value: 1482208200905
                      display_value: Dec20,2016
                    is_service_request: false
                    technician:
                      id: 9
                      name: JenifferDoe
                    requester:
                      is_vipuser: false
                      id: 4
                      name: Guest
                    is_overdue: false
                response_status:
                  status: success
                  messages:
                    - type: success
                      message: Successfullyfetched.
                      status_code: '10000'
                list_info:
                  row_count: 20
                  start_index: 1
                  sort_field: subject
                  sort_order: asc
                  get_total_count: true
                  search_fields:
                    subject: newhire
                  has_more_rows: 'false'
                  filter_by:
                    name: All_Requests
  /api/v3/requests/{request_id}:
    put:
      tags:
        - Request > Request
      summary: Update Request
      description: >-
        This operation helps you to update the request by using the unique
        request_id. Include accept header <b>application/v3.0+json</b> in V3 API
        supported URLs.
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                input_data:
                  type: string
                  example: >-
                    {"request":{"subject":"Please hold off the issuance of
                    macbook as the employee will be joining
                    late","description":"Hold off issuance of
                    macbook","impact_details":"Routine tasks are pending due to
                    mail server problem","resolution":{"content":"Mail Fetching
                    Server problem has been fixed"},"status":{"name":"Open"}}}
      parameters:
        - name: PORTALID
          in: header
          schema:
            type: string
          example: '{{portal_id}}'
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/x-www-form-urlencoded
        - name: Accept
          in: header
          schema:
            type: string
          example: application/vnd.manageengine.sdp.v3+json
        - name: request_id
          in: path
          schema:
            type: string
          required: true
          description: ID of the request id
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                request:
                  is_first_response_overdue: false
                  impact_details: null
                  impact:
                    id: '1'
                    name: High
                  urgency:
                    id: '2'
                    name: High
                  level:
                    id: '4'
                    name: Tier 4
                  description: Hold off issuance of macbook
                  priority:
                    id: '4'
                    color: '#ff0000'
                    name: High
                  sla: null
                  template:
                    id: '36'
                    name: Request to start the process associated to a new hire
                  created_by:
                    id: '4'
                    name: administrator
                    email_id: null
                  requester:
                    id: '6'
                    name: Heather Graham
                    email_id: user2@zylker.com
                  is_editing_completed: true
                  first_response_due_by_time: null
                  service_category:
                    id: '8'
                    name: User Management
                  is_reopened: false
                  status:
                    id: '3'
                    color: '#006600'
                    name: Onhold
                  approval_status:
                    id: '1'
                    name: Pending Approval
                  email_cc: []
                  due_by_time: null
                  closure_info:
                    closure_code:
                      id: '3'
                      name: Canceled
                    requester_ack_comments: null
                    closure_comments: null
                    requester_ack_resolution: true
                  is_trashed: false
                  request_template_task_ids: []
                  assets: []
                  category:
                    id: '11'
                    name: Operating System
                  editor:
                    id: '5'
                    name: Shawn Adams
                    email_id: null
                  time_elapsed:
                    display_value: 0hrs 0min
                    value: '960'
                  on_behalf_of: null
                  is_service_request: true
                  assigned_time:
                    display_value: Mar 8, 2017 04:40 PM
                    value: '1488971406493'
                  technician:
                    id: '6'
                    name: Heather Graham
                    email_id: user2@zylker.com
                  request_type:
                    id: '2'
                    name: Request For Information
                  department: null
                  subject: >-
                    Please hold off the issuance of macbook as the employee will
                    be joining late
                  udf_fields:
                    udf_multiselect_34:
                      - name: Note
                        id: '217'
                      - name: Pen
                        id: '219'
                    udf_date_601:
                      display_value: Mar 9, 2017 04:36 PM
                      value: '1489057560000'
                    udf_pick_20:
                      name: Admin
                      id: '95'
                    udf_mline_314: USA
                    udf_pick_44:
                      name: Heather Graham
                      id: '386'
                    udf_long_367: '123654789'
                    udf_sline_25: 5 th floor
                    udf_sline_26: 6th floor
                    udf_decimal_42: '124.00'
                  resolution:
                    content: Mail Fetching Server problem has been fixed
                    submitted_by:
                      id: '4'
                      name: administrator
                      email_id: null
                    submitted_on:
                      display_value: Mar 10, 2017 12:11 PM
                      value: '1489128104538'
                  mode:
                    id: '2'
                    name: Web Form
                  id: '115'
                  resolved_time:
                    display_value: Mar 8, 2017 04:46 PM
                    value: '1488971786156'
                  responded_time: null
                  attachments:
                    - module: request
                      authentication_id: '1'
                      content_type: application/xml
                      id: '602'
                      name: requests.xml
                      content_url: /api/v3/requests/115/attachments/602/download
                      size:
                        display_value: 12.48KB
                        value: 12780
                    - module: request
                      authentication_id: '1'
                      content_type: text/plain
                      id: '901'
                      name: _View all requests.md
                      content_url: /api/v3/requests/115/attachments/901/download
                      size:
                        display_value: 13.06KB
                        value: 13383
                  completed_time:
                    display_value: Mar 8, 2017 04:46 PM
                    value: '1488971786156'
                  site: null
                  email_ids_to_notify:
                    - user2@zylker.com
                  is_fcr: true
                  is_overdue: false
                  email_to: []
                  last_updated_time:
                    display_value: Mar 10, 2017 12:40 PM
                    value: '1489129838452'
                  subcategory:
                    id: '24'
                    name: Mac OS X
                  item: null
                  created_time:
                    display_value: Mar 8, 2017 04:40 PM
                    value: '1488971406368'
                  group:
                    id: '1'
                    name: Hardware Problems
                response_status:
                  status_code: 2000
                  status: success
    get:
      tags:
        - Request > Request
      summary: View Request
      description: >-
        This operation helps you to view the request details by the unique
        request id. Include accept header <b>application/v3.0+json</b> in V3 API
        supported URLs.
      parameters:
        - name: PORTALID
          in: header
          schema:
            type: string
          example: '{{portal_id}}'
        - name: request_id
          in: path
          schema:
            type: string
          required: true
          description: ID of the request id
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                request:
                  is_first_response_overdue: false
                  impact_details: null
                  impact:
                    id: '1'
                    name: High
                  urgency:
                    id: '2'
                    name: High
                  level:
                    id: '4'
                    name: Tier 4
                  description: Please provide the services required for our new employee
                  priority:
                    id: '4'
                    color: '#ff0000'
                    name: High
                  sla: null
                  template:
                    id: '36'
                    name: Request to start the process associated to a new hire
                  created_by:
                    id: '4'
                    name: administrator
                    email_id: null
                  requester:
                    id: '6'
                    name: Heather Graham
                    email_id: user2@zylker.com
                  is_editing_completed: true
                  first_response_due_by_time: null
                  service_category:
                    id: '8'
                    name: User Management
                  is_reopened: false
                  status:
                    id: '3'
                    color: '#006600'
                    name: Closed
                  approval_status:
                    id: '1'
                    name: Pending Approval
                  email_cc: []
                  due_by_time: null
                  closure_info:
                    closure_code:
                      id: '3'
                      name: Canceled
                    requester_ack_comments: null
                    closure_comments: null
                    requester_ack_resolution: true
                  is_trashed: false
                  request_template_task_ids: []
                  assets: []
                  category:
                    id: '11'
                    name: Operating System
                  editor:
                    id: '5'
                    name: Shawn Adams
                    email_id: null
                  time_elapsed:
                    display_value: 0hrs 0min
                    value: '960'
                  on_behalf_of: null
                  is_service_request: true
                  assigned_time:
                    display_value: Mar 8, 2017 04:40 PM
                    value: '1488971406493'
                  technician:
                    id: '6'
                    name: Heather Graham
                    email_id: user2@zylker.com
                  request_type:
                    id: '2'
                    name: Request For Information
                  department: null
                  subject: Please provide the services required for our new employee
                  udf_fields:
                    udf_multiselect_34:
                      - name: Note
                        id: '217'
                      - name: Pen
                        id: '219'
                    udf_date_601:
                      display_value: Mar 9, 2017 04:36 PM
                      value: '1489057560000'
                    udf_pick_20:
                      name: Admin
                      id: '95'
                    udf_mline_314: USA
                    udf_pick_44:
                      name: Heather Graham
                      id: '386'
                    udf_long_367: '123654789'
                    udf_sline_25: 5 th floor
                    udf_decimal_42: '124.00'
                  resolution:
                    content: >-
                      Check with the IT team to provide the required assets for
                      the new joinee. <div><br /></div><div>Check with the HR
                      team to provide credentials for the new joinee. </div>
                    submitted_by:
                      id: '4'
                      name: administrator
                      email_id: null
                    submitted_on:
                      display_value: Mar 10, 2017 12:11 PM
                      value: '1489128104538'
                  mode:
                    id: '2'
                    name: Web Form
                  id: '115'
                  resolved_time:
                    display_value: Mar 8, 2017 04:46 PM
                    value: '1488971786156'
                  responded_time: null
                  attachments:
                    - module: request
                      authentication_id: '1'
                      content_type: application/xml
                      id: '602'
                      name: requests.xml
                      content_url: /api/v3/requests/115/attachments/602/download
                      size:
                        display_value: 12.48KB
                        value: 12780
                    - module: request
                      authentication_id: '1'
                      content_type: text/plain
                      id: '901'
                      name: _View all requests.md
                      content_url: /api/v3/requests/115/attachments/901/download
                      size:
                        display_value: 13.06KB
                        value: 13383
                  completed_time:
                    display_value: Mar 8, 2017 04:46 PM
                    value: '1488971786156'
                  site: null
                  email_ids_to_notify:
                    - user2@zylker.com
                  is_fcr: true
                  is_overdue: false
                  email_to: []
                  last_updated_time:
                    display_value: Mar 10, 2017 12:11 PM
                    value: '1489128104849'
                  subcategory:
                    id: '24'
                    name: Mac OS X
                  item: null
                  created_time:
                    display_value: Mar 8, 2017 04:40 PM
                    value: '1488971406368'
                  group:
                    id: '1'
                    name: Hardware Problems
                  has_project: false
                  has_problem: false
                  has_request_initiated_change: false
                  has_request_caused_by_change: false
                  has_draft: false
                  has_linked_requests: false
                  has_dependency: false
                  linked_to_request: false
                response_status:
                  status_code: 2000
                  status: success
    delete:
      tags:
        - Request > Request
      summary: Delete request from Trash
      description: Operation to delete the request permenantly(from the trash)
      parameters:
        - name: PORTALID
          in: header
          schema:
            type: string
          example: '{{portal_id}}'
        - name: request_id
          in: path
          schema:
            type: string
          required: true
          description: ID of the request id
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                response_status:
                  status_code: 2000
                  status: success
  /api/v3/list_view_filters/show_all:
    get:
      tags:
        - Request > Request
      summary: View all Request filters
      description: This operation lets you to view all the request filters.
      parameters:
        - name: PORTALID
          in: header
          schema:
            type: string
          example: '{{portal_id}}'
        - name: input_data
          in: query
          schema:
            type: string
          example: >-
            {"module":"request","list_info":{"row_count":"100","search_criteria":
            {"field": "module","value": "request","condition": "contains"}}}
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                response_status:
                  - status_code: 2000
                    status: success
                show_all:
                  - name: All Requests
                    id: '29'
                  - name: Pending Requests
                    id: '30'
                  - name: Requests Due Today
                    id: '31'
                  - name: Overdue Requests
                    id: '32'
                  - name: Open Requests
                    id: '34'
                  - name: Requests On Hold
                    id: '35'
                  - name: Unassigned Requests
                    id: '37'
                  - name: My Open Or Unassigned
                    id: '41'
                  - name: My Completed Requests
                    id: '42'
                  - name: My Requests Due Today
                    id: '43'
                  - name: My Pending Requests
                    id: '44'
                  - name: My Overdue Requests
                    id: '45'
                  - name: My Requests On Hold
                    id: '46'
                  - name: My Open Requests
                    id: '48'
                  - name: All My Requests
                    id: '49'
                  - name: Waiting for my update
                    id: '58'
                  - name: Updated by me
                    id: '59'
                  - name: Requests Pending Approval
                    id: '85'
                  - name: Completed Requests
                    id: '87'
                  - name: Requests Shared with me
                    id: '88'
                  - name: Pending Requests Shared with me
                    id: '89'
                  - name: Missed chat requests
                    id: '90'
                  - name: Closed chat requests
                    id: '91'
                  - name: Requests Pending My Approval
                    id: '92'
                  - name: OLA overdue request
                    id: '93'
                  - name: Requests OLA due today
                    id: '94'
                  - name: My Group OLA overdue requests
                    id: '95'
                  - name: My Pending Requests or Tasks
                    id: '96'
  /api/v3/requests/{request-id}/close:
    put:
      tags:
        - Request > Request
      summary: Close request
      description: This operation allows you to close a single or multiple requests.
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                input_data:
                  type: string
                  example: >-
                    {"request":{"closure_info":{"requester_ack_resolution":true,"requester_ack_comments":"Mail
                    fetching is up and running now","closure_comments":"Reset
                    the pasword solved the issue","closure_code":
                    {"name":"success"}}}}
      parameters:
        - name: PORTALID
          in: header
          schema:
            type: string
          example: '{{portal_id}}'
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/x-www-form-urlencoded
        - name: Accept
          in: header
          schema:
            type: string
          example: application/vnd.manageengine.sdp.v3+json
        - name: request-id
          in: path
          schema:
            type: string
          required: true
          description: ID of the request-id
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                response_status:
                  status_code: 4000
                  status: failed
                  messages:
                    - status_code: 4003
                      message: >-
                        Request cannot be completed. Please fill the closure
                        mandatory fields
                      type: failed
                      fields:
                        - tasks
                        - udf_decimal_41
                        - mode
                        - level
                        - technician
                        - resolution
                        - worklog
  /api/v3/requests/{request_id}/pickup:
    put:
      tags:
        - Request > Request
      summary: Pickup Request
      description: This operation allows you to pickup request on your name as a technician
      requestBody:
        content: {}
      parameters:
        - name: PORTALID
          in: header
          schema:
            type: string
          example: '{{portal_id}}'
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/x-www-form-urlencoded
        - name: Accept
          in: header
          schema:
            type: string
          example: application/vnd.manageengine.sdp.v3+json
        - name: request_id
          in: path
          schema:
            type: string
          required: true
          description: ID of the request id
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                response_status:
                  status_code: 2000
                  status: success
                  messages:
                    - status_code: 2000
                      message: Request(s) picked up successfully.
                      type: success
  /api/v3/requests/{request_id}/assign:
    put:
      tags:
        - Request > Request
      summary: Assign request
      description: This Operation allows you to assign a request to a technician
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                input_data:
                  type: string
                  example: >-
                    {"request":{"group":{"name":"Hardware
                    Problems"},"technician":{"name":"heather Graham"}}}
      parameters:
        - name: PORTALID
          in: header
          schema:
            type: string
          example: '{{portal_id}}'
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/x-www-form-urlencoded
        - name: Accept
          in: header
          schema:
            type: string
          example: application/vnd.manageengine.sdp.v3+json
        - name: request_id
          in: path
          schema:
            type: string
          required: true
          description: ID of the request id
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                response_status:
                  status_code: 2000
                  status: success
                  messages:
                    - status_code: 2000
                      message: Assigned successfully.
                      type: success
  /api/v3/requests/{request_id}/resolutions:
    get:
      tags:
        - Request > Request
      summary: Get Resolution
      description: This Operation allows you to get a resolution of the request.
      parameters:
        - name: PORTALID
          in: header
          schema:
            type: string
          example: '{{portal_id}}'
        - name: request_id
          in: path
          schema:
            type: string
          required: true
          description: ID of the request id
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                response_status:
                  status_code: 2000
                  status: success
                resolution:
                  content: Restart the server, reset the port solved the problem
                  submitted_by:
                    id: '4'
                    name: administrator
                    email_id: null
                  submitted_on:
                    display_value: Oct 4, 2017 12:21 AM
                    value: '1507056660521'
                  resolution_attachments:
                    - module: request
                      authentication_id: '1'
                      content_type: application/x-ooxml
                      id: '2102'
                      name: troubleshooting_guideline1.docx
                      content_url: >-
                        /api/v3/requests/115/resolution_attachments/2102/download
                      size:
                        display_value: 13.06KB
                        value: 13383
                    - module: request
                      authentication_id: '1'
                      content_type: application/x-msoffice
                      id: '2101'
                      name: troubleshooting_guideline1.doc
                      content_url: >-
                        /api/v3/requests/115/resolution_attachments/2101/download
                      size:
                        display_value: 17.07KB
                        value: 17480
    post:
      tags:
        - Request > Request
      summary: Add Resolution
      description: This Operation allows you to add/update a resolution of the request.
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                input_data:
                  type: string
                  example: '{"resolution":{"content":"sample resolution"}}'
      parameters:
        - name: PORTALID
          in: header
          schema:
            type: string
          example: '{{portal_id}}'
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/x-www-form-urlencoded
        - name: Accept
          in: header
          schema:
            type: string
          example: application/vnd.manageengine.sdp.v3+json
        - name: request_id
          in: path
          schema:
            type: string
          required: true
          description: ID of the request id
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                response_status:
                  status_code: 2000
                  status: success
                  messages:
                    - status_code: 2000
                      message: Resolution added successfully.
                      type: success
  /api/v3/requests/{request_id}/merge_requests:
    put:
      tags:
        - Request > Request
      summary: Merge Request(s)
      description: >-
        This option lets you merge multiple requests. RequestID in the url
        should be the supposed parent request after merging.
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                input_data:
                  type: string
                  example: >-
                    {"merge_requests":[{"id":"100000000000023013"},{"id":"100000000000023101"}]}
      parameters:
        - name: PORTALID
          in: header
          schema:
            type: string
          example: '{{portal_id}}'
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/x-www-form-urlencoded
        - name: Accept
          in: header
          schema:
            type: string
          example: application/vnd.manageengine.sdp.v3+json
        - name: request_id
          in: path
          schema:
            type: string
          required: true
          description: ID of the request id
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                response_status:
                  status: success
                  status_code: 2000
                  messages:
                    - type: success
                      message: Request successfully merged
                      status_code: 2000
  /api/v3/requests/{request_id}/summary:
    get:
      tags:
        - Request > Request
      summary: Get Request Summary
      description: This Operation allows you to get the summary of a request.
      parameters:
        - name: PORTALID
          in: header
          schema:
            type: string
          example: '{{portal_id}}'
        - name: request_id
          in: path
          schema:
            type: string
          required: true
          description: ID of the request id
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                response_status:
                  status_code: 2000
                  status: success
                request_summary:
                  task_completed_count: 5
                  task_total_count: 1
                  dependency_count: 0
                  note_count: 3
                  link_request_count: 0
  /api/v3/requests/{request_id}/problem:
    post:
      tags:
        - Request > Request
      summary: Associate Problem
      description: This operation lets you attach a Problem to a Incident Request
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                input_data:
                  type: string
                  example: '{"request_problem_association":{"problem":{"id":"1"}}}'
      parameters:
        - name: PORTALID
          in: header
          schema:
            type: string
          example: '{{portal_id}}'
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/x-www-form-urlencoded
        - name: Accept
          in: header
          schema:
            type: string
          example: application/vnd.manageengine.sdp.v3+json
        - name: request_id
          in: path
          schema:
            type: string
          required: true
          description: ID of the request id
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                request_problem_association:
                  request:
                    id: 1
                  problem:
                    id: 1
                response_status:
                  status_code: 2000
                  status: success
    get:
      tags:
        - Request > Request
      summary: Get associated problem
      description: >-
        This Operation allows you to get the associated Problem of a incident
        request.
      parameters:
        - name: PORTALID
          in: header
          schema:
            type: string
          example: '{{portal_id}}'
        - name: request_id
          in: path
          schema:
            type: string
          required: true
          description: ID of the request id
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                problem:
                  - problem:
                      id: '1'
                      title: Problem title
                response_status:
                  - status_code: 2000
                    status: success
                list_info:
                  has_more_rows: false
                  row_count: 1
    delete:
      tags:
        - Request > Request
      summary: Dissociate Problem
      description: >-
        This operation lets you detach(already attached) Problem from a Incident
        Request
      parameters:
        - name: PORTALID
          in: header
          schema:
            type: string
          example: '{{portal_id}}'
        - name: request_id
          in: path
          schema:
            type: string
          required: true
          description: ID of the request id
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                response_status:
                  status_code: 2000
                  status: success
  /api/v3/requests/{request_id}/projects:
    post:
      tags:
        - Request > Request
      summary: Associate Project
      description: This operation lets you attach a Project to a Request
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                input_data:
                  type: string
                  example: '{"projects":[{"project":{"id":"1"}}]}'
      parameters:
        - name: PORTALID
          in: header
          schema:
            type: string
          example: '{{portal_id}}'
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/x-www-form-urlencoded
        - name: Accept
          in: header
          schema:
            type: string
          example: application/vnd.manageengine.sdp.v3+json
        - name: request_id
          in: path
          schema:
            type: string
          required: true
          description: ID of the request id
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                projects:
                  request:
                    id: 1
                  project:
                    id: 1
                response_status:
                  - status_code: 2000
                    status: success
    get:
      tags:
        - Request > Request
      summary: Get associated project
      description: This Operation allows you to get the associated Project of a request.
      parameters:
        - name: PORTALID
          in: header
          schema:
            type: string
          example: '{{portal_id}}'
        - name: request_id
          in: path
          schema:
            type: string
          required: true
          description: ID of the request id
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                projects:
                  - project:
                      id: '1'
                      title: Project title
                response_status:
                  - status_code: 2000
                    status: success
                list_info:
                  has_more_rows: false
                  row_count: 1
    delete:
      tags:
        - Request > Request
      summary: Dissociate Project
      description: This operation lets you detach(already attached) Project from a Request
      parameters:
        - name: PORTALID
          in: header
          schema:
            type: string
          example: '{{portal_id}}'
        - name: request_id
          in: path
          schema:
            type: string
          required: true
          description: ID of the request id
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                response_status:
                  - status_code: 2000
                    status: success
  /api/v3/requests/{request_id}/request_initiated_change:
    post:
      tags:
        - Request > Request
      summary: Associate request initiated change
      description: This operation lets you attach a request initiated change to a Request
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                input_data:
                  type: string
                  example: '{"request_initiated_change":{"change":{"id":"1"}}}'
      parameters:
        - name: PORTALID
          in: header
          schema:
            type: string
          example: '{{portal_id}}'
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/x-www-form-urlencoded
        - name: Accept
          in: header
          schema:
            type: string
          example: application/vnd.manageengine.sdp.v3+json
        - name: request_id
          in: path
          schema:
            type: string
          required: true
          description: ID of the request id
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                request_initiated_change:
                  request:
                    id: 1
                  change:
                    id: 1
                response_status:
                  status_code: 2000
                  status: success
    get:
      tags:
        - Request > Request
      summary: Get associated request initiated change
      description: >-
        This Operation allows you to get the associated request initiated change
        of a request.
      parameters:
        - name: PORTALID
          in: header
          schema:
            type: string
          example: '{{portal_id}}'
        - name: request_id
          in: path
          schema:
            type: string
          required: true
          description: ID of the request id
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                change:
                  - change:
                      id: '1'
                      title: Change title
                response_status:
                  - status_code: 2000
                    status: success
                list_info:
                  has_more_rows: false
                  row_count: 1
    delete:
      tags:
        - Request > Request
      summary: Dissociate request initiated change
      description: >-
        This operation lets you detach(already attached) request initiated
        change from a Request
      parameters:
        - name: PORTALID
          in: header
          schema:
            type: string
          example: '{{portal_id}}'
        - name: request_id
          in: path
          schema:
            type: string
          required: true
          description: ID of the request id
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                response_status:
                  status_code: 2000
                  status: success
  /api/v3/requests/{request_id}/request_caused_by_change:
    post:
      tags:
        - Request > Request
      summary: Associate request caused by change
      description: This operation lets you attach a Change to a Request
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                input_data:
                  type: string
                  example: '{"request_caused_by_change":{"change":{"id":"1"}}}'
      parameters:
        - name: PORTALID
          in: header
          schema:
            type: string
          example: '{{portal_id}}'
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/x-www-form-urlencoded
        - name: Accept
          in: header
          schema:
            type: string
          example: application/vnd.manageengine.sdp.v3+json
        - name: request_id
          in: path
          schema:
            type: string
          required: true
          description: ID of the request id
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                request_caused_by_change:
                  request:
                    id: 1
                  change:
                    id: 1
                response_status:
                  status_code: 2000
                  status: success
    get:
      tags:
        - Request > Request
      summary: Get associated request caused by change
      description: This Operation allows you to get the associated Change of a request.
      parameters:
        - name: PORTALID
          in: header
          schema:
            type: string
          example: '{{portal_id}}'
        - name: request_id
          in: path
          schema:
            type: string
          required: true
          description: ID of the request id
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                change:
                  - change:
                      id: '1'
                      title: Change title
                response_status:
                  - status_code: 2000
                    status: success
                list_info:
                  has_more_rows: false
                  row_count: 1
    delete:
      tags:
        - Request > Request
      summary: Dissociate request caused by change
      description: >-
        This operation lets you detach(already attached) request caused by
        change from a Request
      parameters:
        - name: PORTALID
          in: header
          schema:
            type: string
          example: '{{portal_id}}'
        - name: request_id
          in: path
          schema:
            type: string
          required: true
          description: ID of the request id
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                response_status:
                  status_code: 2000
                  status: success
  /api/v3/requests/{request_id}/move_to_trash:
    delete:
      tags:
        - Request > Request
      summary: Delete request
      description: This operation lets you delete(move to trash) request
      parameters:
        - name: PORTALID
          in: header
          schema:
            type: string
          example: '{{portal_id}}'
        - name: request_id
          in: path
          schema:
            type: string
          required: true
          description: ID of the request id
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                request:
                  is_trashed: true
                  is_first_response_overdue: false
                  impact_details: null
                  impact:
                    id: '1'
                    name: High
                  urgency:
                    id: '2'
                    name: High
                  level:
                    id: '4'
                    name: Tier 4
                  description: Hold off issuance of macbook
                  priority:
                    id: '4'
                    color: '#ff0000'
                    name: High
                  sla: null
                  template:
                    id: '36'
                    name: Request to start the process associated to a new hire
                  created_by:
                    id: '4'
                    name: administrator
                    email_id: null
                  requester:
                    id: '6'
                    name: Heather Graham
                    email_id: user2@zylker.com
                  is_editing_completed: true
                  first_response_due_by_time: null
                  service_category:
                    id: '8'
                    name: User Management
                  is_reopened: false
                  status:
                    id: '3'
                    color: '#006600'
                    name: Onhold
                  approval_status:
                    id: '1'
                    name: Pending Approval
                  email_cc: []
                  due_by_time: null
                  closure_info:
                    closure_code:
                      id: '3'
                      name: Canceled
                    requester_ack_comments: null
                    closure_comments: null
                    requester_ack_resolution: true
                  assets: []
                  category:
                    id: '11'
                    name: Operating System
                  editor:
                    id: '5'
                    name: Shawn Adams
                    email_id: null
                  time_elapsed:
                    display_value: 0hrs 0min
                    value: '960'
                  on_behalf_of: null
                  is_service_request: true
                  assigned_time:
                    display_value: Mar 8, 2017 04:40 PM
                    value: '1488971406493'
                  technician:
                    id: '6'
                    name: Heather Graham
                    email_id: user2@zylker.com
                  request_type:
                    id: '2'
                    name: Request For Information
                  department: null
                  subject: >-
                    Please hold off the issuance of macbook as the employee will
                    be joining late
                  udf_fields:
                    udf_multiselect_34:
                      - name: Note
                        id: '217'
                      - name: Pen
                        id: '219'
                    udf_date_601:
                      display_value: Mar 9, 2017 04:36 PM
                      value: '1489057560000'
                    udf_pick_20:
                      name: Admin
                      id: '95'
                    udf_mline_314: USA
                    udf_pick_44:
                      name: Heather Graham
                      id: '386'
                    udf_long_367: '123654789'
                    udf_sline_25: 5 th floor
                    udf_sline_26: 6th floor
                    udf_decimal_42: '124.00'
                  resolution:
                    content: Mail Fetching Server problem has been fixed
                    submitted_by:
                      id: '4'
                      name: administrator
                      email_id: null
                    submitted_on:
                      display_value: Mar 10, 2017 12:11 PM
                      value: '1489128104538'
                  mode:
                    id: '2'
                    name: Web Form
                  id: '115'
                  resolved_time:
                    display_value: Mar 8, 2017 04:46 PM
                    value: '1488971786156'
                  responded_time: null
                  attachments:
                    - module: request
                      authentication_id: '1'
                      content_type: application/xml
                      id: '602'
                      name: requests.xml
                      content_url: /api/v3/requests/115/attachments/602/download
                      size:
                        display_value: 12.48KB
                        value: 12780
                    - module: request
                      authentication_id: '1'
                      content_type: text/plain
                      id: '901'
                      name: _View all requests.md
                      content_url: /api/v3/requests/115/attachments/901/download
                      size:
                        display_value: 13.06KB
                        value: 13383
                  completed_time:
                    display_value: Mar 8, 2017 04:46 PM
                    value: '1488971786156'
                  site: null
                  email_ids_to_notify:
                    - user2@zylker.com
                  is_fcr: true
                  is_overdue: false
                  email_to: []
                  last_updated_time:
                    display_value: Mar 10, 2017 12:40 PM
                    value: '1489129838452'
                  subcategory:
                    id: '24'
                    name: Mac OS X
                  item: null
                  created_time:
                    display_value: Mar 8, 2017 04:40 PM
                    value: '1488971406368'
                  group:
                    id: '1'
                    name: Hardware Problems
                response_status:
                  status_code: 2000
                  status: success
  /api/v3/requests/{request_id}/restore_from_trash:
    put:
      tags:
        - Request > Request
      summary: Restore Request from Trash
      description: This operation lets you restore request from trash
      requestBody:
        content: {}
      parameters:
        - name: PORTALID
          in: header
          schema:
            type: string
          example: '{{portal_id}}'
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/x-www-form-urlencoded
        - name: Accept
          in: header
          schema:
            type: string
          example: application/vnd.manageengine.sdp.v3+json
        - name: request_id
          in: path
          schema:
            type: string
          required: true
          description: ID of the request id
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                request:
                  is_trashed: false
                  is_first_response_overdue: false
                  impact_details: null
                  impact:
                    id: '1'
                    name: High
                  urgency:
                    id: '2'
                    name: High
                  level:
                    id: '4'
                    name: Tier 4
                  description: Hold off issuance of macbook
                  priority:
                    id: '4'
                    color: '#ff0000'
                    name: High
                  sla: null
                  template:
                    id: '36'
                    name: Request to start the process associated to a new hire
                  created_by:
                    id: '4'
                    name: administrator
                    email_id: null
                  requester:
                    id: '6'
                    name: Heather Graham
                    email_id: user2@zylker.com
                  is_editing_completed: true
                  first_response_due_by_time: null
                  service_category:
                    id: '8'
                    name: User Management
                  is_reopened: false
                  status:
                    id: '3'
                    color: '#006600'
                    name: Onhold
                  approval_status:
                    id: '1'
                    name: Pending Approval
                  email_cc: []
                  due_by_time: null
                  closure_info:
                    closure_code:
                      id: '3'
                      name: Canceled
                    requester_ack_comments: null
                    closure_comments: null
                    requester_ack_resolution: true
                  assets: []
                  category:
                    id: '11'
                    name: Operating System
                  editor:
                    id: '5'
                    name: Shawn Adams
                    email_id: null
                  time_elapsed:
                    display_value: 0hrs 0min
                    value: '960'
                  on_behalf_of: null
                  is_service_request: true
                  assigned_time:
                    display_value: Mar 8, 2017 04:40 PM
                    value: '1488971406493'
                  technician:
                    id: '6'
                    name: Heather Graham
                    email_id: user2@zylker.com
                  request_type:
                    id: '2'
                    name: Request For Information
                  department: null
                  subject: >-
                    Please hold off the issuance of macbook as the employee will
                    be joining late
                  udf_fields:
                    udf_multiselect_34:
                      - name: Note
                        id: '217'
                      - name: Pen
                        id: '219'
                    udf_date_601:
                      display_value: Mar 9, 2017 04:36 PM
                      value: '1489057560000'
                    udf_pick_20:
                      name: Admin
                      id: '95'
                    udf_mline_314: USA
                    udf_pick_44:
                      name: Heather Graham
                      id: '386'
                    udf_long_367: '123654789'
                    udf_sline_25: 5 th floor
                    udf_sline_26: 6th floor
                    udf_decimal_42: '124.00'
                  resolution:
                    content: Mail Fetching Server problem has been fixed
                    submitted_by:
                      id: '4'
                      name: administrator
                      email_id: null
                    submitted_on:
                      display_value: Mar 10, 2017 12:11 PM
                      value: '1489128104538'
                  mode:
                    id: '2'
                    name: Web Form
                  id: '115'
                  resolved_time:
                    display_value: Mar 8, 2017 04:46 PM
                    value: '1488971786156'
                  responded_time: null
                  attachments:
                    - module: request
                      authentication_id: '1'
                      content_type: application/xml
                      id: '602'
                      name: requests.xml
                      content_url: /api/v3/requests/115/attachments/602/download
                      size:
                        display_value: 12.48KB
                        value: 12780
                    - module: request
                      authentication_id: '1'
                      content_type: text/plain
                      id: '901'
                      name: _View all requests.md
                      content_url: /api/v3/requests/115/attachments/901/download
                      size:
                        display_value: 13.06KB
                        value: 13383
                  completed_time:
                    display_value: Mar 8, 2017 04:46 PM
                    value: '1488971786156'
                  site: null
                  email_ids_to_notify:
                    - user2@zylker.com
                  is_fcr: true
                  is_overdue: false
                  email_to: []
                  last_updated_time:
                    display_value: Mar 10, 2017 12:40 PM
                    value: '1489129838452'
                  subcategory:
                    id: '24'
                    name: Mac OS X
                  item: null
                  created_time:
                    display_value: Mar 8, 2017 04:40 PM
                    value: '1488971406368'
                  group:
                    id: '1'
                    name: Hardware Problems
                response_status:
                  status_code: 2000
                  status: success
  /api/v3/requests/{request_id}/tag:
    put:
      tags:
        - Request > Request
      summary: Add tags in request
      description: This operation using to associate tags to request
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                input_data:
                  type: string
                  example: '{"tags":[{"id":"1"},{"name":"Test Tag"}]}'
      parameters:
        - name: PORTALID
          in: header
          schema:
            type: string
          example: '{{portal_id}}'
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/x-www-form-urlencoded
        - name: Accept
          in: header
          schema:
            type: string
          example: application/vnd.manageengine.sdp.v3+json
        - name: request_id
          in: path
          schema:
            type: string
          required: true
          description: ID of the request id
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v3/requests/upload:
    post:
      tags:
        - Request > Request_Attachment
      summary: Add attachment
      description: This operation is used to upload an attachment to a request.
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                input_file:
                  type: string
                  description: File to upload
                  format: binary
      parameters:
        - name: PORTALID
          in: header
          schema:
            type: string
          example: '{{portal_id}}'
        - name: Accept
          in: header
          schema:
            type: string
          example: application/vnd.manageengine.sdp.v3+json
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                attachment:
                  module: request
                  content_type: image/jpeg
                  size:
                    display_value: 338.87KB
                    value: 347013
                  name: AbuSimbel_EN-IN1949096239_1920x1080.jpg
                  content_url: /api/v3/requests/1/attachments/9/download
                  id: '9'
                response_status:
                  status_code: 2000
                  status: success
  /api/v3/requests/{request_id}/attachments/{attachment_id}/download:
    get:
      tags:
        - Request > Request_Attachment
      summary: Download attachment
      description: >-
        This operation is used to download a particular attachment present in a
        request.
      parameters:
        - name: PORTALID
          in: header
          schema:
            type: string
          example: '{{portal_id}}'
        - name: request_id
          in: path
          schema:
            type: string
          required: true
          description: ID of the request id
        - name: attachment_id
          in: path
          schema:
            type: string
          required: true
          description: ID of the attachment id
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /api/v3/requests/{request_id}/attachments:
    get:
      tags:
        - Request > Request_Attachment
      summary: Get attachments list
      description: This operation is used to fetch all attachments present in a request.
      parameters:
        - name: PORTALID
[...]
